*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
//Variables
$pink: hsl(322, 100%, 66%);
$palecyan : hsl(193, 100%, 96%);
$darkcyan:hsl(192, 100%, 9%);
$greyblue:hsl(208, 11%, 55%);




header{
    background-image: url(/huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-position: center/cover;
    background-color: $palecyan;
    padding-top: 25px;
    .container-grid{
        max-width: 90%;
        margin: 0 auto 0 auto;
        display: grid;
        grid-template-columns: 3;
        .logo-main{
            grid-column:1/2;
            grid-row: 1/2;
            max-width: 100%;
        }
        .btn-top-1{
            grid-column: 3/4;
            grid-row: 1/2;
            background-color: #fff;
            padding: 5px 25px;
            border-radius: 100px 100px 100px 100px;
            text-decoration: none;
            color: #444;
            font-family: 'Poppins',sans-serif;
            font-size: 14px;
        }
        .left-content{
            grid-column:1/4;
            grid-row: 3/4;
            display:flex;
            flex-direction: column;
        }
        .main-title{
          
            text-align: center;
            padding-top:100px;
            font-family: 'Poppins',sans-serif;
            font-size: 25px;

            
        }
        .title-text{
            grid-column: 1/4;
            grid-row: 4/5;
            text-align: center;
            padding-bottom: 25px;
            font-family: 'Open Sans',sans-serif;
            font-weight:500;
            font-size: 18px;
            line-height: 1.7rem;
        }
        .btn-pink{
            grid-column: 1/4;
            grid-row: 5/6;
            text-align: center;
            background-color: $pink;
            padding: 15px 40px;
            border-radius: 100px 100px 100px 100px;
            text-decoration: none;
            color: #fff;
            max-width: 70%;
            margin: 0 auto 45px auto;
            font-family:'Poppins',sans-serif;
            font-size: 14px;
        }
        .pc-pic{
            grid-column:1/4 ;
            grid-row: 7/8;
            max-width: 100%;
            margin-bottom:50px;
        }  
    }
}
.main-content{
    position: relative;
    z-index: 0;
    // padding-bottom: 200px;
    .container{
        max-width: 90%;
        margin: 0 auto 0 auto;
        padding-bottom: 100px;
        .card{
            margin-top: 20px;
            max-width: 100%;
            border-radius: 5px;
            border: 1px solid $greyblue;
            box-shadow:$greyblue 1px 1px 1px;
            padding:  25px 30px;
            img{
                max-width: 100%;
            }
            h3{
                text-align: center;
                font-family:'Poppins',sans-serif;
                font-size: 23px;
            }
            p{
                text-align: center;
                font-family: 'Open Sans',sans-serif;
                font-size: 14px;
                padding-bottom: 30px;
            }
        }
    }
    .overlap-center{
        z-index: 2;
        position: absolute;
        bottom:525px;
        max-width: 100%;
        height: 150px;
        background-color:white;
        border: 1px solid $greyblue;
        box-shadow: $greyblue 1px 1px 1px;
        left: 5%;
        border-radius: 5px;
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        h3{
            padding-bottom: 10px;
            font-family: 'Poppins',sans-serif;
            font-size: 18px;
        }
        .btn-pink{
            text-align: center;
            background-color: $pink;
            padding: 15px 40px;
            border-radius: 100px 100px 100px 100px;
            text-decoration: none;
            color: #fff;
            max-width: 100%;
            font-family:'Poppins',sans-serif;
            font-size: 14px;
            margin: 0 auto 0 auto;

        }
    }
    .foot-section{
        z-index: 1;
        background-color: $darkcyan;
        color: #fff;
        // max-height: 100vh;
       .container{
           max-width: 90%;
           margin: 0 auto 0 auto;
           .foot-logo{
               margin-top: 100px;
               max-width: 50%;
            //    padding-bottom: 25px;
           }
           .info-block{
               display: grid;
               grid-template-columns:0.50fr 3fr;
               margin-bottom:10px;
               gap:none;
               }
           .block1{
               padding-top: 25px;
           }
       }.foot-nav{
           ul{
            li{
                padding-left:25px;
                a{

                    text-decoration: none;
                    color:#fff;
                    font-family:'Open Sans',sans-serif;
                    font-size: 14px;
                }
            }

            }
           
       }.social-links{
           p{
               text-align: center;
            }
            .circle-sect{
                display:flex;
                padding-left: 30%;
                padding-bottom: 10px;
                .circle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #fff;
                    border-radius:50%;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                }
            }
           
           
       }
          
       
        
    }

    
}



































































// Media Query
@media (min-width: 500px){
    .container{
        max-width: 90%;
        margin: 0 auto 0 auto;
        padding-bottom: 100px;
        .card{
            margin-top: 20px;
            max-width: 100%;
            border-radius: 5px;
            border: 1px solid $greyblue;
            box-shadow:$greyblue 1px 1px 1px;
            padding:  25px 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            img{
                grid-column: 2/3;
                grid-row: 1/3;
                max-width: 100%;
                max-height: 200px;
            }
            h3{
                grid-column: 1/2;
                grid-row: 1/2;
                text-align: center;
                font-family:'Poppins',sans-serif;
                font-size: 23px;
            }
            p{
                grid-column: 1/2;
                grid-row: 2/3;
                text-align: center;
                font-family: 'Open Sans',sans-serif;
                font-size: 14px;
                padding-bottom: 30px;
            }
        }
    }



    .overlap-center{
        margin-left: 200px;
        bottom:575px;
        width: 60%;
        height: 150px;
        background-color:white;
        border: 1px solid $greyblue;
        box-shadow: $greyblue 1px 1px 1px;
        border-radius: 5px;
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        h3{
            padding-bottom: 10px;
            font-family: 'Poppins',sans-serif;
            font-size: 18px;
        }
        .btn-pink{
            text-align: center;
            background-color: $pink;
            padding: 15px 40px;
            border-radius: 100px 100px 100px 100px;
            text-decoration: none;
            color: #fff;
            max-width: 100%;
            font-family:'Poppins',sans-serif;
            font-size: 14px;
            margin: 0 auto 0 auto;

        }
    }











    .foot-section{
        .social-links{
            p{text-align: center;}
            .circle-sect{margin-left: 150px;}
        }
     }







}